body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#EEF3FF;

font-family:'Poppins',sans-serif;

}

.signup-container{

width:1200px;

height:700px;

background:white;

border-radius:24px;

overflow:hidden;

display:flex;

box-shadow:0 25px 60px rgba(0,0,0,.08);

}

.left-panel{

width:45%;

background:linear-gradient(135deg,#5B63FF,#7C5CFF);

display:flex;

justify-content:center;

align-items:center;

color:white;

padding:50px;

}

.overlay h1{

font-size:48px;

margin-bottom:25px;

}

.overlay p{

font-size:18px;

line-height:1.8;

opacity:.95;

}

.right-panel{

width:55%;

display:flex;

justify-content:center;

align-items:center;

padding:50px;

}

form{

width:100%;

max-width:420px;

}

form h2{

font-size:36px;

margin-bottom:10px;

}

form p{

color:#6B7280;

margin-bottom:35px;

}

.input{

margin-bottom:18px;

}

.full-btn{

width:100%;

margin-top:15px;

padding:16px;

font-size:17px;

}

.bottom-link{

text-align:center;

margin-top:25px;

font-size:15px;

}

.bottom-link a{

color:#5B63FF;

font-weight:600;

}